datasets/*/data/
datasets/*/processed_data/
datasets/*/backup/*
outputs_seeds/
datasets/*/backup/
datasets/c-mapss/backup/processed_data_BACKUP/engine_knee_plots_multi_no_normal/
outputs/
outputs_auto_run/
outputs_seeds_total/
agg_viz_json/
src/configs/token.yaml
*.pyc

Meter A
Meter B
Meter C
Meter D

raw.csv
*.csv

*.NNA

*_var
*.txt
*.DS_Store

